<div class="bg-white border" *ngIf="photo$ | async as photo">
  <div class="row">
    <div class="col-lg-8">
      <ap-photo
        [url]="photo?.url"
        [description]="photo?.description"
      ></ap-photo>
    </div>

    <div class="col-lg-4 p-4">
      <small>
        <p class="text-left break-word">{{ photo?.description }}</p>

        <div class="text-left mb-4">
          <label class="likes mr-4" showIfLogged (click)="like(photo)">
            <i class="fa fa-heart-o fa-2x mr-2"></i>{{ photo.likes }}
          </label>

          <label class="comments">
            <i class="fa fa-comment-o fa-2x mr-2"></i>{{ photo.comments }}
          </label>

          <i
            class="fa fa-trash-o fa-2x pull-right"
            (click)="remove()"
            *photoOwnerOnly="photo"
          ></i>
        </div>

        <hr />
      </small>

      <ap-photo-comments
        [photoId]="photoId"
        *ngIf="photo.allowComments; else warning"
      ></ap-photo-comments>

      <ng-template #warning>
        <p>User has disabled comments for this photo</p>
      </ng-template>
    </div>
  </div>
</div>
